language: node_js
node_js:
    - "8.11.0"
install:
    - npm install
before_script:
    - npm start -- --silent &
script:
    - npm run lint
    - npm run test
    - npm run dist:sandbox
    - npm run functional
